{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static './css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static './css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static './css/style.css' %}">
    <link rel="stylesheet" href="{% static './css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header class="navbar navbar-expand-lg fixed-top">
        <div class="container">
          <a class="navbar-brand text-white" href="#">KinoPodval</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'homePage' %}">Main</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'allMoviesPage' %}">Movies</a>
              </li>
                <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'topMoviesPage' %}">Top Movies</a>
              </li>
              {% if user.is_authenticated %}
                <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'logoutUser' %}">{{ user.username }}</a>
              </li>
                {% else %}
                <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'signUpPage' %}">Sign up</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'loginPage' %}">Log In</a>
              </li>
                {% endif %}
            </ul>
          </div>
        </div>
    </header>

    <div class="banner">
        <div class="container">
            <h1 class="text-white">Free movies</h1>
            <p class="text-white">Добро пожаловать на наш сайт о кино! Мы рады приветствовать вас в нашем виртуальном кинотеатре, где вы можете найти информацию о самых громких премьерах, смотреть трейлеры новинок и получить обзоры на лучшие фильмы прошлых лет. Наш сайт создан для настоящих киноманов, которые увлечены миром кино и хотят быть в курсе всех последних событий в этой индустрии. Мы надеемся, что наш сайт поможет вам выбрать лучший фильм для просмотра и принесет вам много радости и удовольствия. Спасибо, что выбрали наш сайт, и приятного просмотра!</p>
            <a href="#" class="btn btn-light">Log In</a>
            <a href="#" class="btn btn-light">Sign Up</a>
        </div>
    </div>

    <script src="{% static './js/jquery.min.js' %}"></script>
    <script src="{% static './js/owl.carousel.min.js' %}"></script>
    <script src="{% static './js/carousel.js' %}"></script>
    <script src="{% static './js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>